.stockHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    border-bottom: 1px solid rgb(126, 126, 126);

    /* background-color: blue; */
    background-color: rgb(248, 252, 252);

    max-height: 15%;
}

.stockHeader h1{
    width: 50%;

    /* color: white */
}

.stockBody{
    max-height: 85%;
    overflow: auto;

}